<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Welcome to</h3>
                <h1>Snuggle Factory</h1>
                <h5>In Portfolio you'll find my whole collection of Patterns and Tutorials</h5>	
                <h5>A special thank you to my loyal Patreon Supporters, it's with their support that many of the patterns, templates, and instructions are freely available for you to use. Any that aren't freely available will be purchasable through my Etsy store.</h5>    			
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->